{% extends 'base.html.twig' %}

{% block title %}Members index{% endblock %}

{% block body %}
    <h1>Translators index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('app_show', {'id': user.id}) }}">show</a>
                   
                </td>
            </tr>
        {% endfor %}
		{{ knp_pagination_render(users) }}
        </tbody>
    </table>
{% endblock %}
