{% extends 'base.html.twig' %}

{% block title %}Project index
{% endblock %}

{% block body %}
	<h1>Project index</h1>
	<a href="{{ path('project_new') }}">Create new</a>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Url</th>
				<th>Language</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for project in projects %}
				<tr>
					<td>{{ project.id }}</td>
					<td>{{ project.name }}</td>
					<td>{{ project.url }}</td>
					<td>{{ project.languageId.LanguageName }}</td>
					<td>
						<a href="{{ path('project_show', {'id': project.id}) }}">show</a>
						{% if is_granted('edit', project) %}
							<a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
						</td>
					</td>
					<td>
						{{ include('project/_delete_form.html.twig') }}
					</td>
				{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
			{{ knp_pagination_render(projects) }}
		</tbody>
	</table>


{% endblock %}
